In [1]:
a = ["banana", "apple", "Microsoft"]
print (a[0])
print (a[1])
print (a[2])

banana
apple
Microsoft

In [2]:
for element in a:
    print (element)

banana
apple
Microsoft

In [4]:
# double outputs

for element in a:
    print (element)
    print (element)

banana
banana
apple
apple
Microsoft
Microsoft

In [6]:
# for doing sum the elements of b
b = [1,2,3,4]
# first need to assign value of the variable
total =0
for element in b:
    total = total + element  # here total = 0+1 =1 ; then, 1= 1+2 =3 ; then, 3= 3+3 = 6; then 6= 6+4 =10; total=4 
print (total)

10

In [9]:
# finding sum of 1,2,3,4,5,6,7 in a better way 
# range is a built in method, which takes the range from 1 to 7. 8 is not counted.
#we can make the range in a list by writing list (range(1,8))
#then we have to assign a variable to our list 

c= list(range (1,8))
print (c)

[1, 2, 3, 4, 5, 6, 7]

In [18]:
#we can use for loops in range like before. 

total2 =0  #here we assigning 0 as the value of total2
for element in range(1,8):  #starting for loop
    print (element)  
    total2 = total2+element
print (total2)

1
2
3
4
5
6
7
28

In [26]:
# print the elemnts which are multiples of three between 1-100 

c = list (range (1,101))
print (c)
total3 =0
for element in c:
    if element % 3 ==0:
        total3 = total3 + element
print (total3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
1683

In [30]:
#compute all the multiples of 3,5
#that are less than 100 

d = list (range(1,100))
total4=0
for element in d:
    if element % 3 ==0 or element % 5 ==0:
        total4 = total4 + element
print (total4)

2318